.overlay {
  position: fixed;
  inset: 0;
  background: rgba(46, 27, 16, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 35%;
  height: 650px;
  background: var(--background);
  border-radius: 20px;
  padding: 24px;
  color: var(--secondary);
  font-family: Texts;
  font-weight: bold;
}

.modal h1 {
  font-family: Titels2;
  text-align: center;
}

.close {
  font-size: 25px;
  position: relative;
  bottom: 285px;
  right: 36%;
}

.close:hover {
  color: var(--primary);
  cursor: pointer;
}

.field {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
.field input {
  border: 1px solid #e9d4a8;
  height: 50px;
  border-radius: 10px;
  padding-right: 15px;
  width: 100%;
  font-size: 15px;
  background-color: var(--softbackground);
  font-family: Texts;
  box-sizing: border-box;
}

.field textarea {
  border: 1px solid #e9d4a8;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
  background-color: var(--softbackground);
  font-family: Texts;
  resize: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.wrapper {
  width: 100%;
  border-radius: 16px;
  box-sizing: border-box;
  margin-top: 20px;
}

.label {
  display: block;
  text-align: right;
  font-weight: 600;
  font-size: 15px;
}

.inputBox {
  border: 1px solid #e9d4a8;
  background-color: var(--softbackground);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  min-height: 70px;
  padding: 10px 16px;
  border-radius: 10px;
  box-sizing: border-box;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
  min-width: 20%;
}

.tag {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 12px;
  border-radius: 9999px;
  font-size: 14px;
  background-color: var(--background);
  color: var(--primary) !important;
  border: 1px solid #f3cfc9;
  min-width: 10%;
  height: 30px;
}

.removeBtn {
  background: none !important;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: inherit;
  color: var(--primary) !important;
}

.input {
  flex: 1;
  padding-right: 10px;
  min-width: 80px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #e9d4a8;
  background-color: var(--softbackground);
  text-align: right;
  font-size: 15px;
  color: var(--secondary);
}

.fieldRow {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}

.saveBtn {
  margin-top: 30px;
  background-color: var(--primary);
  height: 50px;
  width: 100%;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-family: Texts;
  box-shadow: none;
}

.saveBtn:hover {
  background-color: #7e1918;
}
